<!-- abhay -->

{% extends "dashboard.html" %} {% block content %}

<!-- Video background -->
<div class="video-wrap">
  <video class="background-video" autoplay muted loop>
    <source
      src="{{ url_for('static', filename='videos/215434.mp4') }}"
      type="video/mp4"
    />
  </video>
</div>

<!-- Simple text overlay -->
<div class="text-overlay">
  <img
    src="../static/images/white_bg.svg"
    alt="kyabaat"
    class="img-fluid"
    onclick="switchToHome()"
  />
  <h1>Welcome to Kyabaat</h1>
  <p>Experience the finest dining at your doorstep</p>
  <a class="btn btn-warning btn-lg mt-3" href="/menu">Order Now</a>
</div>

{% endblock content %}
